.container {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.countDisplay {
  font-size: 10em;
  margin-top: 0;
  margin-bottom: 50px;
}
.counterBtn {
  width: 150px;
  height: 50px;
  font-size: 1em;
  font-weight: bold;
  margin: 0px 5px;
  background-color: orange;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.counterBtn:hover {
  background-color: green;
}
