.heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: aquamarine;
}

.items li {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 2em;
  list-style: none;
  color: red;
  text-align: center;
  margin: 0;
}

.items li:hover {
  color: orange;
  cursor: pointer;
}
